form {
    padding: 15px;
    border: 1px solid red;
}

.book input {
    display: inline-block;
    padding: 10px 16px;
    
}

#isbn,
#title {
    
    justify-content: center;
    border: 1px solid red;
    width: 35%;
}

form button {
    padding: 8px 10px;
    margin: 0 5px;
}